<button
  mat-button
  color="primary"
  routerLink="new-product"
  aria-label="Button to go to new product page"
>
  <mat-icon>person_add</mat-icon>
  Cadastrar Novo Cliente
</button>
<app-icon-warning
  [show]="clients.data.length === 0"
  [icon]="'warning'"
  [message]="'Não há clientes cadastrados!'"
></app-icon-warning>
<div *ngIf="clients.data.length > 0">
  <table mat-table [dataSource]="clients" class="mar-t-1 mat-elevation-z8">
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell *matCellDef="let element">{{ element.cpf }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
