.mat-mdc-card {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.mdc-card__actions {
  flex: 1;
  justify-content: space-around;
}

.mat-mdc-card-image {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 50%;
}
